/*
Base CSS
*/
body {
  margin: 0;
  padding: 0;
  max-width: 1240px;
  margin: 0 auto;
  background-color: #eae8e0;
}
header {
  background-color: #FFF;
  padding: 1 rem;
}
nav {
  background: #FFF;
  margin: 0rem;
  margin-left: 0rem;
  padding: 0;
}

nav button {
  background-color: #f4f3ef;
  color: #333333;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

main {
  background-color: #FFF;
  padding: 1rem;

}

div {
  padding: 1rem;
}

footer {
  margin: 0rem;
  padding: 1rem;
  background-color: #F2F0EF;
}

ul {
  list-style: none;
  /* removes side padding */
  padding: 0rem;
}

li {
  margin: 1rem;
}

img {
  margin: auto;
  align-content: center
}

.background {
  background: no-repeat center/contain url("../assets/images/Elizabeth_McCoy_logo.jpg");
  width: 100%;
  max-width: 1024px;
  padding-top: 50%;
  color: #fff;
  margin: 0 auto;
}

.question {
  /* These are just color changing classes */
  color: #B31B1B;
  font-size: 20px;
  font-style: italic;

}

.person {
  /* These are just color changing classes */
  color:#B31B1B;
  font-style: italic;
}

.testimonials{
  /* this handles spacing foor the div testimonials */
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dropdown {
  /* this is the color for menu */
  display: none;
  background: #FFF;
}

.dropdown.show {
  display: block;
}

.dropdown a {
  color: #333333;
  padding: 10px;
  display: block;
  text-decoration: none;
}

.dropdown a:hover {
  background: #999999;
}

.selected {
  /* this is for current page that is selected in menu to change color*/
  color: #3399CC;
  font-weight: bold;
  
}

@media (min-width: 1024px) {
  body {
    max-width: 1024px;
    margin: 0 auto;
  }

  nav button {
    display: none;
  }

  .dropdown {
    display: flex;
    justify-content: space-evenly;
  }

  .dropdown a {
    display: inline-block;
    /* padding: 5px 80px; */
  }
}