/*
Base CSS
*/
body {
  margin: 0;
  padding: 0;
  max-width: 1240px;
  margin: 0 auto;
  background-color: #f5f5f5;
}
header {
  background-color: #FFF;
  padding: 1 rem;
}

nav {
  background: #FFF;
  margin: 0rem;
  margin-left: 0rem;
  padding: 0;
  font-size: 18px;
  font-family: "Noto serif";
}

nav button {
  background-color: #FFF;
  color: #000;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-family: "Noto serif";
  font-size: 20px;
}

main {
  background-color: #FFF;
  padding: 1rem;

}

div {
  padding: 1rem;
  text-align: center;
}

footer {
  margin: 0rem;
  padding: 1rem;
  background-color: #F2F2F2;
}

h2 {
  font-family: "Noto serif";
  font-size: 30px;
  font-weight: 300;
  text-align:center;
}
h3 {
  font-family: "Noto serif";
  font-size: 30px;
  font-weight: 300;
  text-align:center;
}
h4 {
  font-family: "Noto serif";
  font-size: 30px;
  font-weight: 300;
  text-align:center;
}

ul {
  list-style: none;
  /* removes side padding */
  padding: 0rem;
}

li {
  margin: 1rem;
}

p {
  font-family: "Noto serif";
}

img {
  margin:auto;
  align-content: no-repeat center/contain;
  max-width: 800px;
  width: 50%;
}

.title {
  /* so title size is bigger than normal section headers */
  font-size: 38px;
  text-align:center;
}
.background {
  background: no-repeat center/contain url("../assets/images/Elizabeth_McCoy_logo.jpg");
  width: 100%;
  max-width: 1024px;
  padding-top: 50%;
  color: #fff;
  margin: 0 auto;
}


.question {
  /* These are just color changing classes */
  color: #B31B1B;
  font-size: 18px;
  font-style: italic;

}

.person {
  /* These are just color changing classes */
  color:#B31B1B;
  font-style: italic;
}

.flex-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
}

.outline {
  border: 6px solid #3399CC;
}
.dropdown {
  /* this is the color for menu */
  display: none;
  background: #FFF;
}

.dropdown.show {
  display: block;
}

.dropdown a {
  color: #000;
  padding: 10px;
  display: block;
  text-decoration: none;
}

.dropdown a:hover {
  background: #999999;
}

.selected {
  /* this is for current page that is selected in menu to change color*/
  color: #3399CC;
  font-weight: bold;
  
}

@media (min-width: 1024px) {
  body {
    max-width: 1024px;
    margin: 0 auto;
  }

  nav button {
    display: none;
  }

  .dropdown {
    display: flex;
    justify-content: space-evenly;
  }

  .dropdown a {
    display: inline-block;
    /* padding: 5px 80px; */
  }
}